@media only screen and (max-width: 768px) {
    .about {
        flex-direction: column; /* Change flex-direction to column */
        align-items: center; /* Center align items */
    }

    .about img {
        width: 100%;
        max-width: 300px; /* Adjust image width as needed */
        margin-bottom: 20px; /* Add margin to create space between image and text */
    }

    .about-text {
        width: 100%;
        max-width: 300px; /* Limit text width */
        text-align: center; /* Center align text */
    }

    .about-text h2 {
        font-size: 50px; /* Adjust heading size */
        text-align: center; /* Center align text */
        margin-bottom: 20px; /* Optional: Adjust margin if needed */
    }

    .about-text h5 {
        font-size: 18px; /* Adjust subheading size */
        text-align: center; /* Center align text */
        margin-bottom: 25px; /* Optional: Adjust margin if needed */
    }

    .about-text p {
        font-size: 16px; /* Adjust paragraph size */
        margin-bottom: 30px; /* Add margin for spacing */
        text-align: center; /* Center align text */
    }
}
