* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


.home {
    height: 100vh;
    width: 100%;
    background-image: url(../img/desk1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    position: relative;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 8%;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #f9004d;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px; 
}

nav ul li a:hover {
    color: #f9004d;
    transition: all .5s ease;
}


.btn {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.2);
}


h1 {
    color: white;
    margin: 20px 0;
    font-size: 5vw;
}

h3 {
    color: white;
    font-size: 2vw;
    margin-bottom: 20px;
}

h4 {
    color: #fcfcfc;
    letter-spacing: 2px;
    font-size: 1.5vw;
}

.newslatter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.newslatter form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}


/* ABOUT SECTION Automatic Transition */
#about {
    background: linear-gradient(to bottom, #202020, #101010); 
    width: 100%;
    padding: 100px 0;
    position: relative;   
}
 

.main {
    width: 95%;
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-container {
    width: 100%;
    max-width: 430px;
    margin-bottom: 30px;
    position: relative;
}

.image-container img {
    width: 100%;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Ensure only the active image is visible */
.image-container img.active {
    opacity: 1;
}

/* Animation for automatic image transition */
@keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Apply animation to all images */
.image-container img:nth-child(1) {
    animation: fade 20s infinite 0s; /* Adjusted to 20s for each image */
}

.image-container img:nth-child(2) {
    animation: fade 20s infinite 5s; /* Delayed by 5s */
}

.image-container img:nth-child(3) {
    animation: fade 20s infinite 10s; /* Delayed by 10s */
}

.image-container img:nth-child(4) {
    animation: fade 20s infinite 15s; /* Delayed by 15s */
}

.about-text {
    width: 100%;
    max-width: 550px;
    margin-top: 460px; /* Adjust this value as needed to ensure the text is below the image */
    opacity: 0; /* Initially hidden */
    transform: translateY(20px); /* Initial position for slide-in effect */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Transition for appearing effect */
}

#about:hover .about-text {
    opacity: 1; /* Fully visible on hover */
    transform: translateY(0); /* Slide-in effect */
}

.about-text h2 {
    color: white;
    font-size: 48px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 45px;
}

button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}

button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}




/* PROJECTS SECTION */
#projects {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #202020, #202020, #101010); /* Vertical gradient */
    color: white;
    align-items: center;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.gallery-item {
    position: relative;
    width: 100%;
    max-width: 360px;
    margin: 10px;
    text-align: center;
    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start slightly below */
    transition: opacity 1s ease, transform 1s ease; /* Smooth transition */
}

/* Show the gallery items on hover */
#projects:hover .gallery-item {
    opacity: 1;
    transform: translateY(0); /* Move to original position */
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 1s ease; /* Smooth scaling transition */
}

.gallery-item img:hover {
    transform: scale(1.1);
}

.title {
    display: none;
    margin-top: 10px;
    font-size: 18px;
    color: white;
    transition: color 0.3s ease; /* Smooth color transition */
}

.gallery-item:hover .title {
    display: block;
    color: #f9004d; /* Main color of the site */
}


/* SKILLS SECTION */
#skill {
    background: linear-gradient(to bottom, #101010, #101010, #191919); /* Vertical gradient */
    width: 100%;
    padding: 100px 0;
}

#skill .headings {
    display: block;
    color: white;
    font-size: 5vw;  /* font-size: 8vw; */
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1130px;
    margin: 0 auto;
}

.card {
    height: auto;
    width: 100%;
    max-width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, margin-bottom 0.3s ease, opacity 0.6s ease-out;
    opacity: 0;
    transform: translateY(20px);
}

.card i,
.card h5,
.pra p,
.card .button {
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    transform: translateY(20px);
}

#skill:hover .headings,
#skill:hover .card,
#skill:hover .card i,
#skill:hover .card h5,
#skill:hover .pra p,
#skill:hover .card .button {
    opacity: 1;
    transform: translateY(0);
}

.card:hover {
    transform: translateY(-10px) scale(1.05); /* Swipe up and slight scale effect */
    margin-bottom: 20px;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: #f9004d;
}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p {
    color: #fcfcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}



/* PROJECTS SECTION Name */
#projects {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    align-items: center;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.gallery-item {
    position: relative;
    width: 100%;
    max-width: 360px;
    margin: 10px;
    text-align: center;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

.title {
    display: none;
    margin-top: 10px;
    font-size: 18px;
    color: white;
    transition: color 0.3s;
}


.gallery-item:hover .title {
    display: block;
    color: #f9004d; /* Main color of the site */
}


/* CONTACT ME SECTION */
.contact-me {
    width: 100%;
    height: 290px;
    background: linear-gradient(to bottom, #191919, #0c0c0c, #000000 /*#1e00c4 */  /*#1e00c5 */); /* Vertical gradient */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.contact-me .button-two:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

/* CONTACT INFO SECTION */
#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.contact-item i {
    font-size: 24px;
    margin-right: 10px;
    color: #f9004d;
}

.contact-item p {
    font-size: 18px;
}



/* FOOTER SECTION 
footer {
    position: relative;
    width: 100%;
    height: auto;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
        url('../img/Computer-Science-Engineering-Subjects-1-min.jpg'); 
    background-size: cover; 
    background-position: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}
*/

/* FOOTER SECTION */
footer {
    position: relative;
    width: 100%;
    height: auto;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), /* Gradient overlay */
        #000000; /* Solid background color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

footer::before {
    content: "";
    position: absolute;
    top: -20px; /* Adjusts the position of the line above the footer */
    left: 25%; /* Start the line at the quarter width */
    width: 50%; /* Line will be half the width of the footer */
    height: 1px; /* Thin line */
    background-color: #f9004d; /* Color of the line */
    z-index: 1; /* Ensure it's above the footer background */
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center; /* Center the text */
}

footer p:nth-child(2) {
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center; /* Center the text */
    line-height: 26px;
}

.social {
    display: flex;
    justify-content: center; /* Center the social icons */
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: .3s;
}

.social a:hover {
    transform: scale(1.1);
}



/* INFORMATION SECTION */
#information {
    background: linear-gradient(to bottom, #101010, #101010, #202020 ); /* Vertical gradient */
    width: 100%;
    padding: 100px 0;
}

#information .headings {
    color: white;
    font-size: 3vw;
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1130px;
    margin: 50px auto 0;
}

.info-item {
    position: relative;
    background-color: #191919;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    width: calc(33.33% - 20px);
    max-width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, margin-bottom 0.3s ease, opacity 0.6s ease-out;
    opacity: 0;
    transform: translateY(20px);
}

.info-item i,
.info-text h5,
.info-text p {
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    transform: translateY(20px);
}

#information:hover .headings,
#information:hover .info-item,
#information:hover .info-item i,
#information:hover .info-text h5,
#information:hover .info-text p {
    opacity: 1;
    transform: translateY(0);
}

.info-item:hover {
    transform: translateY(-20px) scale(1.05);
    margin-bottom: 20px;
}

.info-item i {
    font-size: 48px;
    color: #f9004d;
    margin-bottom: 20px;
    display: block;
}

.info-text h5 {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.info-text p {
    color: #fcfcfc;
    font-size: 18px;
    line-height: 24px;
}

.info-box {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.9);
    color: #101010;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    text-align: center;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.info-item:hover .info-box {
    display: block;
    opacity: 1;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

@media (max-width: 768px) {
    .information-header {
        font-size: 6vw;
    }

    .information-content {
        font-size: 3vw;
    }

    .information-button {
        padding: 8px 20px;
    }
}

@media (max-width: 480px) {
    .information-header {
        font-size: 8vw;
    }

    .information-content {
        font-size: 4vw;
    }

    .information-button {
        padding: 6px 15px;
    }
}

@media (max-width: 768px) {
    .content {
        width: 90%;
    }

    h1 {
        font-size: 7vw;
    }

    h3 {
        font-size: 4vw;
    }

    h4 {
        font-size: 3vw;
    }

    .about img,
    .about-text {
        width: 100%;
        max-width: none;
    }

    .card {
        width: 90%;
        margin: 15px auto;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        padding: 10px 5px;
    }

    h1 {
        font-size: 9vw;
    }

    h3 {
        font-size: 5vw;
    }

    h4 {
        font-size: 4vw;
    }

    .about img,
    .about-text {
        width: 100%;
        max-width: none;
    }

    .card {
        width: 90%;
        margin: 15px auto;
    }
}

.end {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    transition: color 0.3s;
}

.end:hover {
    color: #f9004d;
}






/* NAV ICON ALL
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 8%;
    position: relative;
    transition: all 0.3s ease-in-out;
}

#nav-icon {
    display: none; 
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
    cursor: pointer;
    font-size: 24px; 
    color: white; 
}

nav.scrolled {
    display: none;
}

#nav-icon.scrolled {
    display: block; 
}


nav.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000; 
    width: 200px; 
}

nav.active ul {
    list-style: none;
    padding: 0;
}

nav.active ul li {
    margin: 10px 0;
}

nav.active ul li a {
    color: white; 
    text-decoration: none;
    font-size: 18px; 
}

#nav-icon {
    display: none; 
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

#nav-icon.scrolled {
    display: block; 
}


nav.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000; 
    width: 200px; 
}
*/




/* Initial nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 8%;
    position: relative;
    transition: all 0.3s ease-in-out;
}

/* Nav icon styles */
#nav-icon {
    display: none; /* Hide the icon initially */
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
    cursor: pointer;
    font-size: 24px; /* Adjust the size of the icon */
    color: white; /* Make the icon white */
}

/* Show the icon and hide nav when scrolling */
nav.scrolled {
    display: none; /* Hide the nav when scrolled */
}

#nav-icon.scrolled {
    display: block; /* Show the icon when scrolled */
}

/* Show navigation when toggled */
nav.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000; /* Ensure it's above other elements */
    width: 200px; /* Adjust width as needed */
}

nav.active ul {
    list-style: none;
    padding: 0;
}

nav.active ul li {
    margin: 10px 0;
}

nav.active ul li a {
    color: white; /* Make text white */
    text-decoration: none;
    font-size: 18px; /* Adjust font size as needed */
}
